body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #f1356d63;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square.expa0,
.square.expa1,
.square.expa2,
.square.expa3,
.square.expa4,
.square.expa20,
.square.expa21,
.square.expa22,
.square.expa23,
.square.expa24,
.square.expa5,
.square.expa10,
.square.expa15,
.square.expa9,
.square.expa14,
.square.expa19 {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.square.expa6 {
  border-left: none;
  border-top: none;
}

.square.expa7 {
  border-top: none;
}

.square.expa8 {
  border-right: none;
  border-top: none;
}

.square.expa11 {
  border-left: none;
}

.square.expa13 {
  border-right: none;
}

.square.expa16 {
  border-left: none;
  border-bottom: none;
}

.square.expa17 {
  border-bottom: none;
}

.square.expa18 {
  border-right: none;
  border-bottom: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-info {
  margin-left: 50px;
}
