body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #f1356d63;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.a0 {
  border-left: none;
  border-top: none;
}

.a1 {
  border-top: none;
}

.a2 {
  border-right: none;
  border-top: none;
}

.a3 {
  border-left: none;
}

.a5 {
  border-right: none;
}

.a6 {
  border-left: none;
  border-bottom: none;
}

.a7 {
  border-bottom: none;
}

.a8 {
  border-right: none;
  border-bottom: none;
}

.squareRed {
  background-color: #f5ada9;
}

.squareBlue {
  background-color: #a9f2f5;
}

.statusBlue {
  color: #091fee;
}

.statusRed {
  color: #f72b21;
}

.lighten {
  color: rgba(146, 141, 141, 0.363);
}

@keyframes winnerAnim {
  from {
    color: red;
    font-size: 30px;
  }
  to {
    color: yellow;
    font-size: 20px;
  }
  to {
    color: blue;
    font-size: 15px;
  }
}

/* The element to apply the animation to */
.statusWinner {
  color: #56f318;
  animation-name: winnerAnim;
  animation-duration: 2s;
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-info {
  margin-left: 50px;
}
