body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #f1356d63;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square.a0 {
  border-left: none;
  border-top: none;
}

.square.a1 {
  border-top: none;
}

.square.a2 {
  border-right: none;
  border-top: none;
}

.square.a3 {
  border-left: none;
}

.square.a5 {
  border-right: none;
}

.square.a6 {
  border-left: none;
  border-bottom: none;
}

.square.a7 {
  border-bottom: none;
}

.square.a7 {
  border-bottom: none;
}

.square.a8 {
  border-right: none;
  border-bottom: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-info {
  margin-left: 50px;
}
